/* Scroll Bar */

[data-bs-theme="light"] {
	--scrollbar-thumb-color: #212529;
	--scrollbar-track-color: #fff;
}

[data-bs-theme="dark"] {
	--scrollbar-thumb-color: #fff;
	--scrollbar-track-color: #212529;
}

body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: 50px;
}

body::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

/* Main tag width */
main {
	min-height: 100dvh !important;
}

/* Button */
.btn-circle {
	border-radius: 50% !important;
}

/* Disable Input Css */
.disable-input {
	pointer-events: none;
	user-select: text;
}
